<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iclothes</title>



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

  <link type="text/css" rel="stylesheet" href="/css/styles.css">

</head>
<body id="body">
    <div id="header-navbar-login" class="ui massive menu">
        <div class="borderless header item" style="margin-right: auto; margin-left: auto;">
          Iclothes - Sua forma de comprar e vender roupas
        </div>
    </div>

  
    <% if(message && (message.length> 0)){ %>
      <div class="ui container success form" style="margin-top: 10px; margin-bottom: 10px;">
          <div class="ui success message">
              <div class="header">
                  <%= message %>
              </div>
          </div>
      </div>
      <% } %>

  <div class="ui placeholder segment" style="margin-left: 5%;margin-right: 5%; margin-top: 7%;">
    <div class="ui two column very relaxed stackable grid">
      <div class="column">
        
        <form id="form-login" action="/login" method="POST" class="ui padded segment form">
            <h2 class="ui dividing header">Login</h2>
            <div class="field">
                <label>Seu Usuário</label>
                <input type="text" name="username" placeholder="Usuário...">
              </div>
              <div class="field">
                <label>Sua Senha</label>
                <input type="password" name="password" placeholder="Senha...">
              </div>
              <button class="ui fluid green basic button" type="submit"><h3>Entrar</h3></button>
        </form>

      </div>
      <div class="middle aligned column">
        <a href="/cadastro-escolha" class="ui big button">
          <i class="signup icon"></i>
          Cadastre-se Aqui!
        </a>
      </div>
    </div>
    <div class="ui vertical divider">
      Ou
    </div>
  </div>

  <!--
  <div class="two fields" style="text-align: center;margin-left: auto; margin-right: auto; font-size: 20px;">
    <div class="field">
      <br><br>
      <img class="ui large rounded image" style="margin-left: auto; margin-right: auto;" src="/images/real.jpeg">
      <br>
    </div>

  </div>
  -->

</body>
</html>