<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iclothes</title>



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

  <link type="text/css" rel="stylesheet" href="/css/styles.css">

</head>
<body id="body">
    <div id="header-navbar-login" class="ui massive menu">
        <div class="borderless header item" style="margin-right: auto; margin-left: auto;">
              Iclothes - Sua forma de comprar e vender roupas
        </div>
    </div>

  <div id="form-escolha-login" class="ui padded segment form">
    <h2 class="ui dividing header">Você é um usuário do tipo:</h4>
    <div class="field">
      <a href="/login-cliente" class="ui fluid green basic button"><h3>Cliente</h3></a>
      <div class="separator"> </div>
      <a href="/login-lojista" class="ui fluid green basic button"><h3>Lojista</h3></a>
    </div>

</body>
</html>