<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IClothes</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    <link rel="stylesheet" href="/css/styles.css">

</head>

<body id="body">
    <div style="margin: 0;" class="ui massive menu">
        <div class="ui simple dropdown item">
            <i class="dropdown icon" style="margin-right: 10px;"></i> Menu de Controle
            <div class="menu">
                <a href="/painel" class="item">Home</a>
                <a href="/painel/fale-conosco" class="item">Fale Conosco</a>
            </div>
        </div>
        <div style="margin-left: auto;"class="borderless header item">
            <% if(currentUser.tipo){ %>
                Iclothes - Menu do cliente
            <% } else {%>
                Iclothes - Menu do lojista
            <% } %>
        </div>
        <div class="right menu">
            <div class="ui simple dropdown item">
                <i class="address card outline icon"></i><%= currentUser.username %>
                <div class="menu">
                    <a href="/painel/editar-perfil" class="item">Editar Perfil</a>
                    <!--
                    <% if(currentUser.tipo){ %>
                        <a href="/painel/historico-compras" class="item">Histórico de compras</a>
                    <% } else {%>
                        <a href="/painel/historico-vendas" class="item">Histórico de vendas</a>
                    <% } %>
                    <a href="/painel/resetar-senha" class="item">Resetar Senha</a> -->
                </div>
            </div>
            <div class="item">
                <a href="/logout" class="ui primary button">Sair</a>
            </div>
        </div>
    </div>